.sidebar__MainContainer{
    background-color: #1D0632;  
    width: 100%;  
}
.sidebar-logo{
    width: 75%;
}
ul {
    width: 100%;
}
.sidebar_Link {
    color: #fff;
}
hr {    
    color: #fff;
    background-color: #fff;
    border: solid;
    border-width: 1px;
    width: 100%;
    margin: 10px 0;
}
